html {
    background-color: black;
    color: white;
    font-size: 25px;
}
.color {
    color: red;
}
.color-1 {
    color: yellow;
}
.titulo {
    margin-left: 6%;
    font-size: 50px;
    font-style: italic;
}
.telegram {
    float: right;
    height: 50px;
    margin-right: 5%;
    padding: 1%;
}
.wall {
    background-image: url(https://th.bing.com/th/id/OIP.XWDgVZl-zf2dvzLX1CUsJQHaEo?pid=ImgDet&rs=1);
}
.imagem {
    height: 500px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.infos {
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 5%;
}
.info {
    color: red;
}
.download {
    text-align: center;
}
.info-1 {
    color: red;
}
.download {
    text-align: center;
}
.download-1 {
    text-align: center;
    padding-top: 8%;
}
.aviso {
    text-align: center;
}
.aviso-1 {
    text-align: center;
}
.button-download {
    border-radius: 30px;
    border-color: red;
    background-color: white;
    font-size: 25px;
    padding: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}